<?xml version="1.0"?>
<launch>
  <!-- Parameters to pass to the ROS node -->
  <arg name="move_group" default="a_bot"/>
  <arg name="ee_link" default="a_bot_ee_link"/>
  <arg name="ros_rate" default="0.1"/>
  
  <!--  This loads the robot description and starts up moveit -->
  <!-- <include file="$(find o2as_moveit_config)/launch/o2as_moveit_planning_execution.launch">
    <arg name="sim" value="true"/>
  </include> -->
    
  <!-- This calls the ROS node we have written, using the parameters above -->
  <node name="ExampleLoopMoveit" pkg="o2as_examples" type="example_loop" respawn="false" output="screen">
    <param name="move_group" value="$(arg move_group)"/>
    <param name="ee_link" value="$(arg ee_link)"/>
    <param name="ros_rate" value="$(arg ros_rate)"/>
  </node>
  
</launch>
