#!/usr/bin/env python
PACKAGE = "o2as_easy_handeye"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("planarity_tolerance", double_t, 1 << 0, "A double parameter",
        0.008, 0.0005, 0.015)

exit(gen.generate(PACKAGE, "plane_detector", "o2as_easy_handeye"))
