<?xml version="1.0" ?>
<!-- This script launch nodelet manager and o2as_debug_monitor -->
<launch>
  <!-- Nodelet manager -->
  <node pkg="nodelet" type="nodelet" name="standalone_nodelet" args="manager"
        output="screen"/>

  <!-- o2as_debug_monitor -->
  <node pkg="nodelet" type="nodelet" name="o2as_debug_monitor"
        args="load o2as_debug_monitor/O2asDebugMonitor standalone_nodelet"
        output="screen">
    <!--<remap from="/Plus/out" to="remapped_output"/>-->
  </node>

  <rosparam>
  o2as_debug_monitor:
    global:
      width: 1920
      height: 1200
      n_cols: 32
      n_rows: 20

    image_topics:
      realsense:
        topic_name: /a_bot_camera/color/image_raw
        col: [0, 11]
        row: [0, 7]
      bg_ratio_input_image:
        topic_name: /o2as_debug_monitor/bg_ratio_input_image
        col: [0, 11]
        row: [8, 15]
      phoxi_depth_ueshiba:
        topic_name: /o2as_phoxi_camera/depth_map
        col: [12, 23]
        row: [0, 7]
        encoding: depth
        vrange: [0, 2]
      grasp_candidates:
        topic_name: /search_grasp_phoxi/image_grasp_candidates
        col: [12, 23]
        row: [8, 15]

    string_topics:
      task:
        topic_name: /o2as_state/task
        col: [0, 15]
        row: [16, 16]
        offset: [8, 36]
        n_history: 1
      subtask:
        topic_name: /o2as_state/subtask
        col: [0, 15]
        row: [17, 19]
        offset: [8, 32]
        n_history: 5
      operation:
        topic_name: /o2as_state/operation
        col: [16, 31]
        row: [16, 19]
        offset: [8, 32]
        n_history: 7

    suction_success_topics:
      suction_success_m3:
        topic_name: /screw_tool_m3/screw_suctioned
        str: m3_suction
        col: [24, 31]
        row: [13, 15]
        offset: [8, 32]
        index: 0
      suction_success_m4:
        topic_name: /screw_tool_m4/screw_suctioned
        str: m4_suction
        col: [24, 31]
        row: [13, 15]
        offset: [8, 32]
        index: 1
      suction_success_m6:
        topic_name: /screw_tool_m6/screw_suctioned
        str: m6_suction
        col: [24, 31]
        row: [13, 15]
        offset: [8, 32]
        index: 2
      suction_success:
        topic_name: /suction_tool/screw_suctioned
        str: suction
        col: [24, 31]
        row: [13, 15]
        offset: [8, 32]
        index: 3

    kitting_set_id_topics:
      kitting_item_set:
        topic_name: /o2as_state/kitting_set_id
        col: [24, 31]
        row: [0, 12]
        offset: [8, 32]
  </rosparam>

</launch>
