<launch>

  <arg name="board_id" default="1"/>
  <arg name="sensor_node" value="xela_sensor_$(arg board_id)"/>

  <!-- sensor node -->
  <include file="$(find o2as_xela_sensor)/launch/sensor.launch">
    <arg name="board_id" value="$(arg board_id)"/>
    <arg name="node_name" value="$(arg sensor_node)"/>
    <!-- <arg name="frequency" value="$(arg sensor_node)"/> -->
  </include>

  <!-- demo node -->
  <node name="xela_sensor_demo" pkg="o2as_xela_sensor" type="demo.py" output="screen">
    <remap from="data" to="$(arg sensor_node)/data"/>
    <remap from="base" to="$(arg sensor_node)/base"/>
    <remap from="calibrate" to="$(arg sensor_node)/calibrate"/>
    <remap from="get_baseline" to="$(arg sensor_node)/get_baseline"/>
  </node>

</launch>
