#!/usr/bin/env python
PACKAGE = "o2as_marker_detection"

from math import pi
from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

dummy_param = gen.enum([
    gen.const("3", int_t, 3, ""),
    gen.const("5", int_t, 5, ""),
    gen.const("7", int_t, 7, "")],
    "An enum to set dummy param")

gen.add("dummy_param"  , int_t    , 1 <<  0, "", 1, 0, 100, edit_method=dummy_param)
gen.add("dummy_param1" , int_t    , 1 <<  1, "", 1, 0, 100, edit_method=dummy_param)
gen.add("dummy_param2" , double_t , 1 <<  2, "", 1, 0, 100)

exit(gen.generate(PACKAGE, "o2as_marker_detection", "MarkerPoseEstimation"))
