<?xml version="1.0" ?>
<launch>
  <arg name="robot_name"	default="a_bot"/>
  <arg name="camera_name"	default="a_bot_camera"/>
  <arg name="config"		default="real"/>

  <!-- Set AR marker ID -->
  <arg name="marker_id"		value="26"/>
  <arg name="marker_size"	value="0.16"/>
  <arg name="eye_on_hand"	value="true"/>
  <arg name="robot_effector_frame"	value="$(arg robot_name)_wrist_2_link"/>
  
  <arg name="move_group"	value="$(arg robot_name)"/>
  <arg name="namespace_prefix"	value="o2as_easy_handeye_$(arg robot_name)"/>
  <param name="use_real_robot"	value="false" if="$(eval arg('config') == 'sim')"/>

  <!-- Start robot controller -->
  <include file="$(find o2as_examples)/launch/connect_real_robots.launch"
	   if="$(eval arg('config') == 'real')">
  </include>

  <!-- Start ArUco -->
  <node name="aruco_tracker" pkg="aruco_ros" type="single" output="screen">
  <!-- <node name="aruco_tracker" pkg="o2as_aruco_ros" type="o2as_single" output="screen"> -->
    <remap from="/camera_info"	to="/$(arg camera_name)/color/camera_info"/>
    <remap from="/image"	to="/$(arg camera_name)/color/image_raw"/>
    <!-- <remap from="/pointcloud"	to="/$(arg camera_name)/cloud"/> -->

    <!-- Other parameters -->
    <param name="image_is_rectified" value="false"/>
    <param name="marker_size"        value="$(arg marker_size)"/>
    <param name="marker_id"          value="$(arg marker_id)"/>
    <param name="reference_frame"    value=""/>
    <param name="camera_frame"       value="camera_link"/>
    <param name="marker_frame"       value="camera_marker"/>
  </node>

  <include file="$(find o2as_moveit_config)/launch/o2as_moveit_planning_execution.launch">
    <arg name="sim" value="true"  if    ="$(eval arg('config') == 'sim')"/>
    <arg name="sim" value="false" unless="$(eval arg('config') == 'sim')"/>
  </include>
  <include file="$(find o2as_skills)/launch/o2as_skill_server.launch"/>

  <!-- Start easy_handeye calibrator -->
  <include file="$(find o2as_easy_handeye)/launch/calibrate.launch">
    <arg name="namespace_prefix"	value="$(arg namespace_prefix)"/>
    <arg name="eye_on_hand"		value="$(arg eye_on_hand)"/>
    <arg name="tracking_base_frame"	value="camera_link"/>
    <arg name="tracking_marker_frame"	value="camera_marker"/>
    <arg name="robot_base_frame"	value="$(arg robot_name)_base_link"/>
    <arg name="robot_effector_frame"	value="$(arg robot_effector_frame)"/>

    <arg name="freehand_robot_movement"	value="true"/>
    <arg name="robot_velocity_scaling"	value="0.5"/>
    <arg name="robot_acceleration_scaling" value="0.2"/>

    <arg name="move_group"		value="$(arg move_group)"/>
  </include>

</launch>
