<?xml version="1.0"?>
<robot name="phoxi_m_camera" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="phoxi_m_camera" params="prefix parent *origin">

    <xacro:include filename="$(find o2as_phoxi_camera)/urdf/PhoXi3Dscanner_values.xacro"/>
    <xacro:include filename="$(find o2as_phoxi_camera)/urdf/PhoXi3Dscanner_macro.xacro"/>

    <xacro:PhoXi3Dscanner scanner_parent = "${parent}"
			  scanner_name   = "${prefix}phoxi_m_camera"
			  sensor_parent  = "${prefix}phoxi_m_camera"
			  sensor_name    = "${prefix}phoxi_m_sensor" >
      <xacro:insert_block name = "origin" />
      <xacro:PhoXi3DscannerM_default_sensor_origin />
      <xacro:PhoXi3DscannerM_meshes />
    </xacro:PhoXi3Dscanner>

    <link name="${prefix}phoxi_m_camera_link"/>
    <joint name="${prefix}phoxi_m_sensor_to_${prefix}phoxi_m_camera_link"
    	   type="fixed">
      <parent link="${prefix}phoxi_m_sensor"/>
      <child  link="${prefix}phoxi_m_camera_link"/>
      <origin xyz="0 0 0" rpy="${pi/2} ${-pi/2} 0"/>
    </joint>
      
  </xacro:macro>
</robot>
