<?xml version="1.0"?>

<!-- This macro adds a convenient TF frame at the tip of the closed gripper. -->
<!-- The position of the TF frame has not been measured at all and needs to be calibrated. -->

<robot name="robotiq_85_gripper_o2as" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="o2as_c_bot_gripper" params="prefix parent">
    <xacro:include filename="$(find o2as_scene_description)/urdf/robotiq_85_gripper_with_ft300.urdf.xacro" />
    
    <xacro:robotiq_85_gripper_with_ft300 prefix="${prefix}" parent="${parent}"/>

    <!-- This helper frame is oriented like the screw tool tip frames -->
    <joint name="${prefix}robotiq_85_tip_45deg_helper_joint" type="fixed">
      <parent link="${prefix}robotiq_85_tip_link"/>
      <child link="${prefix}robotiq_85_tip_45deg_helper_link"/>
      <origin rpy="0.0 ${-pi/4} 0.0" xyz="-.03 0 0"/>
    </joint>
    <link name="${prefix}robotiq_85_tip_45deg_helper_link"/>

    <!-- This helper frame is oriented like the nut tool tip frame -->
    <joint name="${prefix}robotiq_85_tip_40deg_helper_joint" type="fixed">
      <parent link="${prefix}robotiq_85_tip_link"/>
      <child link="${prefix}robotiq_85_tip_40deg_helper_link"/>
      <origin rpy="0.0 ${-pi*40/180} 0.0" xyz="-.03 0 0"/>
    </joint>
    <link name="${prefix}robotiq_85_tip_40deg_helper_link"/>

    <!-- Screw tool tips. X-axis points along the screw into the hole. -->
    <joint name="${prefix}robotiq_85_m6_screw_tool_tip_joint" type="fixed">
      <parent link="${prefix}robotiq_85_tip_45deg_helper_link"/>
      <child link="${prefix}screw_tool_m6_tip_link"/>
      <origin rpy="0.0 0 0" xyz="0.135 0 .006"/>
    </joint>
    <link name="${prefix}screw_tool_m6_tip_link"/>
    
    <joint name="${prefix}robotiq_85_m4_screw_tool_tip_joint" type="fixed">
      <parent link="${prefix}robotiq_85_tip_45deg_helper_link"/>
      <child link="${prefix}screw_tool_m4_tip_link"/>
      <origin rpy="0.0 0 0" xyz="0.151 0 .006"/>
    </joint>
    <link name="${prefix}screw_tool_m4_tip_link"/>

    <joint name="${prefix}robotiq_85_m3_screw_tool_tip_joint" type="fixed">
      <parent link="${prefix}robotiq_85_tip_45deg_helper_link"/>
      <child link="${prefix}screw_tool_m3_tip_link"/>
      <origin rpy="0.0 0 0" xyz="0.132 0 .006"/>
    </joint>
    <link name="${prefix}screw_tool_m3_tip_link"/>

    <joint name="${prefix}robotiq_85_nut_tool_m6_tip_joint" type="fixed">
      <parent link="${prefix}robotiq_85_tip_40deg_helper_link"/>
      <child link="${prefix}nut_tool_m6_tip_link"/>
      <origin rpy="0 0 0" xyz="0.05 0.0 -.018 "/>
    </joint>
    <link name="${prefix}nut_tool_m6_tip_link"/>

  </xacro:macro>
</robot>
